{% extends 'base.html' %}
{% block content %}

    <form action="." method="post">{% csrf_token %}

        {% if form.errors %}
        <p class="errornote">Wrong! Please correct the error(s) below.</p>
        {% for error in form.username.errors %}
          <p style="color: red">username {{ error }}</p>
        {% endfor %}
        {% for error in form.password1.errors %}
          <p style="color: red">p1 {{ error }}</p>
        {% endfor %}
        {% for error in form.password2.errors %}
          <p style="color: red">p2 {{ error }}</p>
        {% endfor %}

        {% endif %}

        <fieldset class="aligned">

            <div class="form-row">
                {{ form.username.label_tag }} {{ form.username }}
            </div>

            <div class="form-row">
                {{ form.password1.label_tag }} {{ form.password1 }}
            </div>

            <div class="form-row">
                {{ form.password2.label_tag }} {{ form.password2 }}
            </div>
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Register">
        </div>

        <script type="text/javascript">document.getElementById('id_username').focus();
        </script>
    </form>
</div>

<!--
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" placeholder="Regular" class="form-control" disabled />
      </div>
    </div>
  </div>
  -->
                    </form>


{% endblock %}