{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">품목 디테일</h4>
        <!--<p class="card-category"> Here is a subtitle for this table</p>-->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
        <th>포장단위</th>
        <th>수량</th>
        <th>Shipdoc 포장단위</th>
        <th>부피</th>
        <th>단위</th>
        <th>총무게</th>
        <th>단위</th>
        <th>무게</th>
        <th>단위</th>
        <th>수정</th>
  </thead>
            <tbody>
{% for object in object_list %}
    <tr>
        <td>{{ object.item_pkg }}</td>
        <td>{{ object.qty }}</td>
        <td>{{ object.doc_pkg }}</td>
        <td>{{ object.vol }}</td>
        <td>{{ object.vol_uom }}</td>
        <td>{{ object.grosswgt }}</td>
        <td>{{ object.grosswgt_uom }}</td>
        <td>{{ object.netwgt }}</td>
        <td>{{ object.netwgt_uom }}</td>
        <td><a href="{% url 'item-detail-update' item_id=item_id pk=object.id %}" class="btn btn-secondary">수정</a></td>
    </tr>
{% endfor %}
            </tbody>
    </table>

<div align="right"><a href="{% url 'item-detail-create' item_id=item_id %}" class="btn btn-primary">신규</a></div>

{% endblock %}
