{% extends 'base.html' %}
{% block content %}
<h4>품목</h4>
<div class="row">
    <div class="col">거래처 : <select><option>미구현</option></select></div>
    <div class="col">거래처 구분1 : <select><option>미구현</option></select></div>
    <div class="col">거래처 구분3 : <select><option>미구현</option></select></div>
</div>
<div class="row">
    <div class="col">거래처 유형 : <select><option>미구현</option></select></div>
    <div class="col">거래처 구분2 : <select><option>미구현</option></select></div>
    <div class="col">거래처 구분4 : <select><option>미구현</option></select></div>
</div>
<div align="right"><a href="#" class="btn btn-secondary">조회</a></div>

    <table width="100%" cellpadding="5" style="margin-top:30px;margin-bottom:10px">
    <tr style="border-bottom:1px solid black; border-top:1px solid black;">
        <th>품목</th>
        <th>품목군</th>
        <th>HS코드</th>
        <th>부피</th>
        <th>단위</th>
        <th>총무게</th>
        <th>단위</th>
        <th>무게</th>
        <th>단위</th>
        <th>구분1</th>
        <th>구분2</th>
        <th>구분3</th>
        <th>구분4</th>
        <th width="30">디테일</th>
        <th width="30">수정</th>
    </tr>
{% for object in object_list %}
    <tr style="border-bottom:1px solid black;">
        <td>?</td>
        <td>{{ object.commodity }}</td>
        <td>{{ object.hscode }}</td>
        <td>{{ object.vol }}</td>
        <td>{{ object.vol_uom }}</td>
        <td>{{ object.grosswgt }}</td>
        <td>{{ object.grosswgt_uom }}</td>
        <td>{{ object.netwgt }}</td>
        <td>{{ object.netwgt_uom }}</td>
        <td>{{ object.level1 }}</td>
        <td>{{ object.level2 }}</td>
        <td>{{ object.level3 }}</td>
        <td>{{ object.level4 }}</td>
        <td><a href="{% url 'item-detail-list' object.id %}" class="btn btn-secondary">이동</a></td>
        <td><a href="{% url 'item-update' object.id %}" class="btn btn-secondary">수정</a></td>
    </tr>
{% endfor %}
    </table>

<div align="right"><a href="{% url 'item-create' %}" class="btn btn-primary">신규</a></div>

{% endblock %}
