{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">품목</h4>
        <!--<p class="card-category"> Here is a subtitle for this table</p>-->
      </div>
      <div class="card-body">

        <div class="row">
            <div class="col">거래처 : <select><option>미구현</option></select></div>
            <div class="col">거래처 구분1 : <select><option>미구현</option></select></div>
            <div class="col">거래처 구분3 : <select><option>미구현</option></select></div>
        </div>
        <div class="row">
            <div class="col">거래처 유형 : <select><option>미구현</option></select></div>
            <div class="col">거래처 구분2 : <select><option>미구현</option></select></div>
            <div class="col">거래처 구분4 : <select><option>미구현</option></select></div>
        </div>
        <div align="right"><a href="#" class="btn btn-primary">조회</a></div>


      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
<!--
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Simple Table</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
      </div>
    -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
        <th>품목</th>
        <th>품목군</th>
        <th>HS코드</th>
        <th>부피</th>
        <th>단위</th>
        <th>총무게</th>
        <th>단위</th>
        <th>무게</th>
        <th>단위</th>
        <th>구분1</th>
        <th>구분2</th>
        <th>구분3</th>
        <th>구분4</th>
        <th>디테일</th>
        <th>수정</th>
  </thead>
            <tbody>

              {% for object in object_list %}
                  <tr>
    <tr>
        <td>?</td>
        <td>{{ object.commodity }}</td>
        <td>{{ object.hscode }}</td>
        <td>{{ object.vol }}</td>
        <td>{{ object.vol_uom }}</td>
        <td>{{ object.grosswgt }}</td>
        <td>{{ object.grosswgt_uom }}</td>
        <td>{{ object.netwgt }}</td>
        <td>{{ object.netwgt_uom }}</td>
        <td>{{ object.level1 }}</td>
        <td>{{ object.level2 }}</td>
        <td>{{ object.level3 }}</td>
        <td>{{ object.level4 }}</td>
        <td><a href="{% url 'item-detail-list' object.id %}" class="btn btn-secondary">이동</a></td>
        <td><a href="{% url 'item-update' object.id %}" class="btn btn-secondary">수정</a></td>
    </tr>
{% endfor %}
            </tbody>
    </table>

<div align="right"><a href="{% url 'item-create' %}" class="btn btn-primary">신규</a></div>

{% endblock %}
