{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">거래처</h4>
        <!--<p class="card-category"> Here is a subtitle for this table</p>-->
      </div>
      <div class="card-body">

        <div class="row">
            <div class="col">거래처 :
              <select id="party-select">
              	<option>Alfa Romeo</option>
              	<option>Audi</option>
              	<option>BMW</option>
              	<option>Citroen</option>
              </select>
            </div>
            <div class="col">거래처 구분1 : <select><option>미구현</option></select></div>
            <div class="col">거래처 구분3 : <select><option>미구현</option></select></div>
        </div>
        <div class="row">
            <div class="col">거래처 유형 : <select><option>미구현</option></select></div>
            <div class="col">거래처 구분2 : <select><option>미구현</option></select></div>
            <div class="col">거래처 구분4 : <select><option>미구현</option></select></div>
        </div>
        <div align="right"><a href="#" class="btn btn-primary">조회</a></div>


      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
<!--
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Simple Table</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
      </div>
    -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                거래처명
              </th>
              <th>
                거래처유형
              </th>
              <th>
                위치
              </th>
              <th>
                상세주소
              </th>
              <th>
                구분1
              </th>
              <th>
                구분2
              </th>
              <th>
                구분3
              </th>
              <th>
                구분4
              </th>
            </thead>
            <tbody>

              {% for object in object_list %}
                  <tr>
                      <td>{{ object.party }}</td>
                      <td>{{ object.party_type }}</td>
                      <td>{{ object.party_location }}</td>
                      <td>{{ object.party_address }}</td>
                      <td>{{ object.level1 }}</td>
                      <td>{{ object.level2 }}</td>
                      <td>{{ object.level3 }}</td>
                      <td>{{ object.level4 }}</td>
                      <!--<td><a href="{% url 'party-update' object.id %}" class="btn btn-secondary">수정</a></td>-->
                  </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div align="right"><a href="{% url 'party-create' %}" class="btn btn-primary">신규</a></div>

{% endblock %}

{% block javascript %}
<script>
  $('#party-select').editableSelect();
</script>
{% endblock %}
